#cnt {
    font-size: 5em;
    text-align: center;
    justify-content: center;
}

#button-container {
    display: flex;
    border: 2px solid blue;
    height: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button {
    font-size: 1.5em;
    height: 50px;
    width: 150px
}

#button-wrap {
    margin: 10px;
}