body {
    background: gray;
    display: flex;
    flex-direction: column;


    flex-wrap: wrap;
    align-items: center;
}

#wrap {
    display: flex;

    background: black;
    width: 1000px;
    height: 500px;
    border-radius: 200px;
    border: 20px solid lightskyblue;

    justify-content: center;
    align-items: center;
}

#time {
    color: lightgreen;
    font-size: 10em;
}

#button-wrap {
    width: 700px;
    height: 300px;

    display: flex;
    justify-content: space-around;
}

button {
    width: 150px;
    height: 70px;
    background: rgb(35, 90, 169);
    color: white;
    border-radius: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}